@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-card-image .card.image-full:before {
    border-radius: 0.5rem;
    opacity: 0.45;
}

.card-body.justify-end {
    align-self: end;
}
.card-title.mb-0 {
    margin-bottom: -0.5rem;
}